In [22]:
import gzip
import json
import re
import os
import sys
import numpy as np
import pandas as pd

## Tester opens for columns

In [23]:
# Function to process a chunk of data
def process_data(chunk, columns=None):
    # If columns is not None, keep only those columns
    if columns is not None:
        chunk = chunk[columns]
    return chunk

# Function to read data in chunks and process each chunk
def load_data(file_name, head = None, columns=None, chunksize = 1000):
    chunks = []
    count = 0
    with gzip.open(file_name) as fin:
        for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
            # Process the chunk
            processed_chunk = process_data(chunk, columns)
            chunks.append(processed_chunk)
            
            count += 1
            # break if reaches the head-th chunk
            if (head is not None) and (count > head):
                break

    # Combine all chunks into a single DataFrame
    df = pd.concat(chunks, ignore_index=True)
    
    return df

In [24]:
DIR = 'C:\\Users\\jesse\\Documents\\GitHub\\vanity_sizing_project\\data\\'
amazon_fashion = load_data(DIR+'AMAZON_FASHION_5.json.gz',head=1, chunksize=100)
amazon_fashion

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Orange'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
1,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Black (3746...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
2,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Gray L...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
3,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue (37867...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
4,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Pink'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3171,5,True,"07 2, 2018",A2077NII5H62R2,B005AGO4LU,"{'Size:': ' 8.5 B(M) US', 'Color:': ' Green Gl...",Amazon Customer,Perfect fit!,Five Stars,1530489600,NaN,NaN
3172,5,True,"06 28, 2018",A2IBS6PIPAGAB5,B005AGO4LU,"{'Size:': ' 5 B(M) US', 'Color:': ' Wolf Grey/...",J. Avila,My favorite cross trainers!,Comfortable,1530144000,NaN,NaN
3173,5,True,"06 25, 2018",A1GTC5EVSJNCQ8,B005AGO4LU,"{'Size:': ' 8 B(M) US', 'Color:': ' Blue Tint/...",Amazon Customer,Love them fit perfect,Five Stars,1529884800,NaN,NaN
3174,5,True,"06 20, 2018",A311XHHLM12MUT,B005AGO4LU,"{'Size:': ' 9 B(M) US', 'Color:': ' Blue Tint/...",Peter,Favorite Nike shoe ever! The flex sole is exce...,Love them!,1529452800,NaN,NaN
3175,5,True,"06 16, 2018",A135SGOQMVWABQ,B005AGO4LU,"{'Size:': ' 9 B(M) US', 'Color:': ' Black/Whit...",Susan,"I wear these everyday to work, the gym, etc.",Five Stars,1529107200,NaN,NaN

In [25]:
amazon_csj_reviews = load_data(DIR+'Clothing_Shoes_and_Jewelry_5.json.gz',head=1, chunksize=100)
amazon_csj_reviews

KeyboardInterrupt:

In [ ]:
amazon_csj_meta = load_data(DIR+'meta_Clothing_Shoes_and_Jewelry.json.gz',head=1, chunksize=100)
amazon_csj_meta

,category,description,title,brand,feature,rank,date,asin,imageURL,imageURLHighRes,also_view,price,fit,also_buy,main_cat,tech1,details,similar_item
0,"[Clothing, Shoes & Jewelry, Costumes & Accesso...","[6"" long, stretched waist measures 11 1/2"" acr...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,Big Dreams,"[3 layers of tulle, 6"" long, stretched waist m...","19,963,069inClothing,ShoesJewelry(",5 star5 star (0%),0000037214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex LARGE LIGHT GRAY ...,Anello,"[Polyester Canvas Waterproof, Imported, Size: ...","4,537,420inClothing,ShoesJewelry(",5 star,0201377179,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex PINK BEIGE LARGE ...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","3,994,472inClothing,ShoesJewelry(",5 star,0204444454,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B07CJF5HLR, B01EBI8UH6, B01N1LR908, B074M4QKG...",$70.00,NaN,NaN,NaN,NaN,NaN,NaN
3,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex BLACK LARGE PU LE...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","635,761inClothing,ShoesJewelry(",5 star,0204444403,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B01DLVYOPG, B07CJF5HLR, B01MSS59Y6, B071YBC1J...",$65.99,NaN,NaN,NaN,NaN,NaN,NaN
4,"[Clothing, Shoes & Jewelry, Novelty & More, Cl...",[Brand New. Hat Centre Length: adult about 8c...,bettyhome Unisex Adult Winter Spring Thicken C...,bettyhome,"[Imported, Plush,Cotton, Polyester, Lovely for...","5,061,041inClothing,ShoesJewelry(",5 star5 star (0%),0206313535,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B00VGT93YS, B07FTY87LM, B01IKVOY8E, B01GF6C6F...",$18.99,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,"[Clothing, Shoes & Jewelry, Women, Jewelry, Br...",[This sterling silver bracelet is marked .925 ...,"9mm Wide Sterling Silver 8"" Double Link Chain ...",Silver Insanity,"[8"" Long, 9mm Wide, Weight is Approximately 16...","223,789inClothing,ShoesJewelry(",Silver Insanity,B00023JP74,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,$44.96,NaN,"[B017KE5LMA, B000SP5YUS, B000RB1VS2, B01KYGGX7...",NaN,NaN,NaN,NaN
1996,"[Clothing, Shoes & Jewelry, Men, Jewelry, Neck...",[This Unusual Pendant has a Lid that Unscrews ...,Hanging Lantern Sterling Silver Tall Cylinder ...,Silver Insanity,"[Pendant Only, 1.25"" tall x 5/8 wide, has a ha...","5,868,972inClothing,ShoesJewelry(",Silver Insanity,B00023JP6U,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,$34.77,NaN,NaN,NaN,NaN,NaN,NaN
1997,"[Clothing, Shoes & Jewelry, Women, Jewelry, Ne...","[Crafted in Italy of .925 sterling silver, 1mm...",Italian 1mm Sterling Silver Box Link Chain Nec...,Silver Insanity,"[Made in Italy of Nickel Free Sterling Silver,...","225,493inClothing,ShoesJewelry(",Silver Insanity,B00023JMXQ,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B077V9JXTN, B01BEAXXEO, B07C2NY4S8, B01GEUB8R...",$12.96,NaN,"[B077V9JXTN, B01HIQRXE4, B07CSFV5JY, B07C5RSPD...",NaN,NaN,NaN,NaN
1998,"[Clothing, Shoes & Jewelry, Women, Jewelry, Ne...",[Enchanting English Crafted Pewter Enhanced wi...,Gothic Silver Tone Vampire BAT Hanapu Pendant ...,Silver Insanity,"[Pendant is 1.5"" tall x 1.25"" wide, Comes with...","22,110,095inClothing,ShoesJewelry(",Silver Insanity,B00023JQG4,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,$29.97,NaN,NaN,NaN,NaN,NaN,NaN
1999,"[Clothing, Shoes & Jewelry, Women, Jewelry, Ne...",[This is a Gorgeous Sterling Silver Double Fro...,Sterling Silver Frog Green Aventurine Ball Pen...,Silver Insanity,"[Genuine 12mm Green Aventurine Sphere, 1"" Tall...","15,742,151inClothing,ShoesJewelry(",Silver Insanity,B00023JP92,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
amazon_csj_reviews.columns

Index(['overall', 'vote', 'verified', 'reviewTime', 'reviewerID', 'asin',
       'style', 'reviewerName', 'reviewText', 'summary', 'unixReviewTime',
       'image'],
      dtype='object')

reviews keep: 'overall','asin','reviewText'

In [ ]:
amazon_csj_meta.columns

Index(['category', 'description', 'title', 'brand', 'feature', 'rank', 'date',
       'asin', 'imageURL', 'imageURLHighRes', 'also_view', 'price', 'fit',
       'also_buy', 'main_cat', 'tech1', 'details', 'similar_item'],
      dtype='object')

meta keep: 'category', 'description', 'title', 'brand', 'feature', 'rank', 'date',
       'asin', 'price', 'fit',
       'also_buy', 'main_cat'

In [ ]:
amazon_fashion.columns

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image'],
      dtype='object')

fashion keep: 'overall','asin','style','reviewText','vote'

## Larger opens

In [ ]:
csjr = load_data(DIR+'Clothing_Shoes_and_Jewelry_5.json.gz',columns=['asin','overall','reivewText'])
csjr.head()

In [ ]:
csjm = load_data(DIR+'meta_Clothing_Shoes_and_Jewelry.json.gz',columns=['category', 'description', 'title', 'brand', 'feature', 'rank', 'date',
       'asin', 'price', 'fit',
       'also_buy', 'main_cat'])
csjm.head()

In [ ]:
afr = load_data(DIR+'AMAZON_FASHION_5.json.gz',columns=['asin','overall','reviewText','style','vote'])
afr.head()

## PLaying with filtering and brands

In [ ]:
brands = pd.read_csv(DIR+'brands.txt', header=None, sep=',')
brands = brands.stack().reset_index(drop=True).to_frame()
brands.columns = ['brand']
brands

                  brand
0                  Nike
1                Adidas
2                Levi's
3          Calvin Klein
4          Ralph Lauren
..                  ...
96               Boohoo
97         Fashion Nova
98    PrettyLittleThing
99              Windsor
100     Charlotte Russe

[101 rows x 1 columns]

In [26]:
amazon_csj_meta = amazon_csj_meta[amazon_csj_meta['brand'].isin(brands['brand'])]
amazon_csj_meta

,category,description,title,brand,feature,rank,date,asin,imageURL,imageURLHighRes,also_view,price,fit,also_buy,main_cat,tech1,details,similar_item
1244,"[Clothing, Shoes & Jewelry, Women, Shoes, Fash...",[ELEGANT SIMPLICITY. Named after the Japanese ...,NIKE Women's Tanjun Running Sneaker Black/Blac...,Nike,"[mesh, Imported, Breathable textile upper for ...","193,827inSportsOutdoors(",NaN,B0000YWEIC,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B0052OR548, B078H4J4L6, B07M8S7BNX, B07M8RQM6...",$63.00,NaN,"[B0113OCJSM, B00XWNW8S4, B01LY5LEVR, B0792V8CC...",Sports & Outdoors,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN
1352,"[Clothing, Shoes & Jewelry, Women, Watches, Wr...",NaN,Nike - WT0011603 (Size: women),Nike,[Package Dimensions:\n \n4....,"22,355,820inClothing,ShoesJewelry(",WT0011-603,B00012O2RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,"[Clothing, Shoes & Jewelry, Men, Watches, Wris...",[100-hour chronograph. High contrast LCD displ...,Nike Oregon Series Digital Super Watch WA0024-001,Nike,NaN,"2,716,880inBeautyPersonalCare(",NaN,B00019FWE4,NaN,NaN,NaN,NaN,NaN,NaN,All Beauty,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN