In [1]:
import gzip
import json
import re
import os
import sys
import numpy as np
import pandas as pd

## Tester opens for columns

In [2]:
# Function to process a chunk of data
def process_data(chunk, columns=None):
    # If columns is not None, keep only those columns
    if columns is not None:
        chunk = chunk[columns]
    return chunk

# Function to read data in chunks and process each chunk
def load_data(file_name, head = None, columns=None, chunksize = 1000):
    chunks = []
    count = 0
    with gzip.open(file_name) as fin:
        for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
            # Process the chunk
            processed_chunk = process_data(chunk, columns)
            chunks.append(processed_chunk)
            
            count += 1
            # break if reaches the head-th chunk
            if (head is not None) and (count > head):
                break

    # Combine all chunks into a single DataFrame
    df = pd.concat(chunks, ignore_index=True)
    
    return df

In [3]:
DIR = 'C:\\Users\\jesse\\Documents\\GitHub\\vanity_sizing_project\\data\\'
amazon_fashion = load_data(DIR+'AMAZON_FASHION_5.json.gz',head=1, chunksize=100)
amazon_fashion

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Orange'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
1,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Black (3746...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
2,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Gray L...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
3,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue (37867...",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
4,5,True,"09 4, 2015",ALJ66O1Y6SLHA,B000K2PJ4K,"{'Size:': ' Big Boys', 'Color:': ' Blue/Pink'}",Tonya B.,Great product and price!,Five Stars,1441324800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2,True,"02 25, 2018",A2UVALXRJ35D1A,B001IKJOLW,"{'Size:': ' 9 B(M) US', 'Color:': ' Black/Whit...",Amazon Customer,They run big and are super uncomfortable and t...,Two Stars,1519516800,NaN,NaN
196,5,True,"02 21, 2018",A3E05IUHHCTRJC,B001IKJOLW,"{'Size:': ' 8 B(M) US', 'Color:': ' Black/Whit...",Sahar Mahboob,Exactly what I expected! Comfortable and chic,Comfortable and,1519171200,NaN,NaN
197,5,True,"02 20, 2018",A3RNGBSBRJ3YAQ,B001IKJOLW,"{'Size:': ' 7.5 B(M) US', 'Color:': ' Wolf Gre...",Andrea L Hogan,They were a gift to my daughter she loved them,Their Cute and Pink,1519084800,NaN,[https://images-na.ssl-images-amazon.com/image...
198,5,True,"02 14, 2018",A13W5DGU9QF721,B001IKJOLW,"{'Size:': ' 8.5 B(M) US', 'Color:': ' Blue Tin...",Marjorie J. Moore,Love these comfy shoes. they fit like a glove.,Five Stars,1518566400,NaN,NaN
199,5,True,"02 14, 2018",A2QRWCN5YR05G9,B001IKJOLW,"{'Size:': ' 7 B(M) US', 'Color:': ' Black/Whit...",Amazon Customer,Very confortable.,Smooth and confortable.,1518566400,NaN,NaN

In [4]:
amazon_fashion.columns

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image'],
      dtype='object')

fashion keep: 'overall','asin','style','reviewText','vote'

In [5]:
amazon_csj_reviews = load_data(DIR+'Clothing_Shoes_and_Jewelry_5.json.gz',head=1, chunksize=100)
amazon_csj_reviews

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,5,2.0,True,"05 4, 2014",A2IC3NZN488KWK,871167042,{'Format:': ' Paperback'},Ruby Tulip,"This book has beautiful photos, good and under...",Unique designs,1399161600,NaN
1,5,NaN,True,"03 31, 2014",A30FG02C424EJ5,871167042,{'Format:': ' Paperback'},NWCancerBaby,Loved their approach in this book and that it ...,Great Book,1396224000,NaN
2,5,NaN,True,"05 30, 2015",A2G9GWQEWWNQUB,871167042,{'Format:': ' Paperback'},Pamelarenee,great,Five Stars,1432944000,NaN
3,5,NaN,True,"02 21, 2015",A3NI5OGW35SLY2,871167042,{'Format:': ' Paperback'},Gail,"Always love the way Eva thinks, and there are ...",Great Book!,1424476800,NaN
4,5,NaN,True,"01 21, 2015",A1OPRA4NE56EV6,871167042,{'Format:': ' Paperback'},carol a inman,Nice patterns,Five Stars,1421798400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
195,3,NaN,True,"09 1, 2017",A1RFWG3KJHKTRY,5120053084,NaN,Wilai Kosol,Nice and soft but a bit too heavy.,Three Stars,1504224000,NaN
196,4,NaN,True,"08 23, 2017",A3ADAU6PK1A1H1,5120053084,"{'Size:': ' Large', 'Color:': ' Charcoal'}",Amy,Really comfortable and easy to nurse in.,Four Stars,1503446400,NaN
197,4,NaN,True,"08 14, 2017",AO1BXRNYJY7KA,5120053084,"{'Size:': ' Medium', 'Color:': ' Black'}",Little Opal,"Soft and cozy. Looks very stylish, not the typ...","Nice length, looks great with maternity leggings",1502668800,NaN
198,5,NaN,True,"08 11, 2017",A37KHW0GR3E4B8,5120053084,"{'Size:': ' Medium', 'Color:': ' Charcoal'}",Amazon Customer,This top is perfect for nursing and it's cute!...,Five Stars,1502409600,NaN
199,5,NaN,True,"07 22, 2017",A3U9WFJ438960F,5120053084,"{'Size:': ' Medium', 'Color:': ' Charcoal'}",Melissa,Perfect for first few weeks post partum when b...,Perfect for first few weeks post partum when b...,1500681600,NaN

In [6]:
amazon_csj_reviews.columns

Index(['overall', 'vote', 'verified', 'reviewTime', 'reviewerID', 'asin',
       'style', 'reviewerName', 'reviewText', 'summary', 'unixReviewTime',
       'image'],
      dtype='object')

reviews keep: 'overall','asin','reviewText'

In [7]:
amazon_csj_meta = load_data(DIR+'meta_Clothing_Shoes_and_Jewelry.json.gz',head=1, chunksize=100)
amazon_csj_meta

,category,description,title,brand,feature,rank,date,asin,imageURL,imageURLHighRes,also_view,price,fit,also_buy,main_cat,tech1,details
0,"[Clothing, Shoes & Jewelry, Costumes & Accesso...","[6"" long, stretched waist measures 11 1/2"" acr...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,Big Dreams,"[3 layers of tulle, 6"" long, stretched waist m...","19,963,069inClothing,ShoesJewelry(",5 star5 star (0%),0000037214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex LARGE LIGHT GRAY ...,Anello,"[Polyester Canvas Waterproof, Imported, Size: ...","4,537,420inClothing,ShoesJewelry(",5 star,0201377179,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex PINK BEIGE LARGE ...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","3,994,472inClothing,ShoesJewelry(",5 star,0204444454,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B07CJF5HLR, B01EBI8UH6, B01N1LR908, B074M4QKG...",$70.00,NaN,NaN,NaN,NaN,NaN
3,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex BLACK LARGE PU LE...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","635,761inClothing,ShoesJewelry(",5 star,0204444403,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B01DLVYOPG, B07CJF5HLR, B01MSS59Y6, B071YBC1J...",$65.99,NaN,NaN,NaN,NaN,NaN
4,"[Clothing, Shoes & Jewelry, Novelty & More, Cl...",[Brand New. Hat Centre Length: adult about 8c...,bettyhome Unisex Adult Winter Spring Thicken C...,bettyhome,"[Imported, Plush,Cotton, Polyester, Lovely for...","5,061,041inClothing,ShoesJewelry(",5 star5 star (0%),0206313535,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B00VGT93YS, B07FTY87LM, B01IKVOY8E, B01GF6C6F...",$18.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"[Clothing, Shoes & Jewelry, Women, Accessories...",[A fantastic pair of sunglasses with fully mir...,Lantin Unisex (Mens / Womens) Fully Mirrored S...,LANTIN,"[Plastic frame, Plastic lens, non-polarized, L...","6,586,858inClothing,ShoesJewelry(",5 star,9729499527,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,"[Clothing, Shoes & Jewelry, Women, Watches, Wr...",[The perfect dress sports watch. The Aquanaut ...,Patek Philippe Aquanaut Luce Stainless Steel B...,Patek Philippe,"[Model: Aquanaut Luce, Movement: Quartz, Metal...","26,938,915inClothing,ShoesJewelry(",Patek Philippe,974404117X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,"[Clothing, Shoes & Jewelry, Men, Clothing, Shi...","[His Tropical Mosaic is a luxurious, wearable ...",Tommy Bahama Tropical Mosaic Silk Camp Shirt,NaN,[Machine wash cold on gentle cycle; hang to dr...,"9,284,887inClothing,ShoesJewelry(",5 star5 star (0%),978981366X,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,"[Clothing, Shoes & Jewelry, Men, Clothing, Shi...",[Perfect for island hopping or just around tow...,Tommy Bahama Embroidered Read It Roll It Hole ...,NaN,"[100% Silk, Back embroidery, Dry clean only, S...","23,141,828inClothing,ShoesJewelry(",5 star,9789814232,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,"[Clothing, Shoes & Jewelry, Men, Clothing, Shi...",[This polo shirt is an easy match with a class...,Tommy Bahama Scratch Player Golf Polo Shirt,NaN,"[41% polyester, 59% modal, 3 button front, Mac...","6,217,999inClothing,ShoesJewelry(",5 star,978981450X,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
amazon_csj_meta.columns

Index(['category', 'description', 'title', 'brand', 'feature', 'rank', 'date',
       'asin', 'imageURL', 'imageURLHighRes', 'also_view', 'price', 'fit',
       'also_buy', 'main_cat', 'tech1', 'details'],
      dtype='object')

meta keep: 'category', 'description', 'title', 'brand', 'feature', 'rank', 'date',
       'asin', 'price', 'fit',
       'also_buy', 'main_cat'

In [9]:
modcloth = load_data(DIR+'modcloth_final_data.json.gz',head=1, chunksize=100)
modcloth

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width
0,123373,29.0,7,5,d,38.0,34.0,new,36.0,5ft 6in,Emily,just right,small,991571,NaN,NaN
1,123373,31.0,13,3,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN
2,123373,30.0,7,2,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN
3,123373,NaN,21,5,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN
4,123373,NaN,18,5,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,124124,NaN,15,3,dd/e,NaN,38.0,new,NaN,5ft 7in,mkjminnehan,slightly short,small,314716,NaN,NaN
196,124124,NaN,15,2,dddd/g,38.0,36.0,new,NaN,5ft 9in,Maya,slightly short,small,124743,9.5,average
197,124124,NaN,12,4,d,NaN,36.0,new,NaN,5ft 7in,pohl.laurie,very short,fit,563299,NaN,NaN
198,124124,NaN,32,4,b,55.0,42.0,new,NaN,5ft 5in,christina.kovarik,just right,large,709586,NaN,NaN
199,124124,NaN,12,2,NaN,NaN,NaN,new,NaN,5ft 6in,cat.manion,just right,fit,536252,NaN,NaN

In [10]:
modcloth.columns

Index(['item_id', 'waist', 'size', 'quality', 'cup size', 'hips', 'bra size',
       'category', 'bust', 'height', 'user_name', 'length', 'fit', 'user_id',
       'shoe size', 'shoe width'],
      dtype='object')

Can this be used w another modcloth w ids? Unsure... Would keep everything for now.

In [11]:
rtr = load_data(DIR+'renttherunway_final_data.json.gz',head=1, chunksize=100)
rtr

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28.0,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36.0,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116.0,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34.0,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27.0,"September 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,small,912090,34b,182915,108lbs,8,wedding,"The dress fit like a glove - I wore the 6, and...",petite,"I got many compliments on the dress, and was o...",dress,"5' 2""",12,56.0,"October 1, 2014"
196,fit,557692,NaN,2478188,135lbs,10,party,It can be a little short although it has short...,NaN,Was comfortable but cute for my Karaoke party.,romper,"5' 5""",4,33.0,"June 12, 2016"
197,fit,302239,36d,1551720,165lbs,10,wedding,This dress fit perfectly. No issue in the hip ...,hourglass,Great dress! Lots of compliments!,dress,"5' 2""",24,31.0,"July 17, 2017"
198,fit,979614,34b,1420770,155lbs,10,wedding,"Flattering fit, comfortable, great color",pear,So many compliments!,dress,"5' 1""",12,26.0,"November 3, 2014"
199,fit,29297,34d+,834814,160lbs,8,formal affair,I wish I had the long but it still covered my ...,full bust,Excellent fit and very comfortable dressing. I...,gown,"5' 7""",24,52.0,"May 9, 2017"

In [12]:
rtr.columns

Index(['fit', 'user_id', 'bust size', 'item_id', 'weight', 'rating',
       'rented for', 'review_text', 'body type', 'review_summary', 'category',
       'height', 'size', 'age', 'review_date'],
      dtype='object')

Would keep all. Thoughts here -- could do something with how people feel? Not sure of the spread of data...

## Larger opens

In [13]:
csjr = load_data(DIR+'Clothing_Shoes_and_Jewelry_5.json.gz',columns=['asin','overall','reviewText'])
csjr.head()

         asin  overall                                         reviewText
0  0871167042        5  This book has beautiful photos, good and under...
1  0871167042        5  Loved their approach in this book and that it ...
2  0871167042        5                                              great
3  0871167042        5  Always love the way Eva thinks, and there are ...
4  0871167042        5                                      Nice patterns

In [14]:
csjm = load_data(DIR+'meta_Clothing_Shoes_and_Jewelry.json.gz',columns=['category', 'description', 'title', 'brand', 'feature', 'rank', 'date',
       'asin', 'price', 'fit',
       'also_buy', 'main_cat'])
csjm.head()

C:\Users\jesse\AppData\Local\Temp\ipykernel_17448\1982106913.py:13: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
C:\Users\jesse\AppData\Local\Temp\ipykernel_17448\1982106913.py:13: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
C:\Users\jesse\AppData\Local\Temp\ipykernel_17448\1982106913.py:13: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
C:\Users\jesse\AppData\Local\Temp\ipykernel_17448\1982106913.py:13: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
C:\Users\jesse\AppData\Local\Temp\ipykernel_17448\1982106913.py:13: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
C:\Users\jesse\AppData\Local\Temp\ipykernel_17448\1982106913.py:13: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):

,category,description,title,brand,feature,rank,date,asin,price,fit,also_buy,main_cat
0,"[Clothing, Shoes & Jewelry, Costumes & Accesso...","[6"" long, stretched waist measures 11 1/2"" acr...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,Big Dreams,"[3 layers of tulle, 6"" long, stretched waist m...","19,963,069inClothing,ShoesJewelry(",5 star5 star (0%),0000037214,NaN,NaN,NaN,NaN
1,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex LARGE LIGHT GRAY ...,Anello,"[Polyester Canvas Waterproof, Imported, Size: ...","4,537,420inClothing,ShoesJewelry(",5 star,0201377179,NaN,NaN,NaN,NaN
2,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex PINK BEIGE LARGE ...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","3,994,472inClothing,ShoesJewelry(",5 star,0204444454,$70.00,NaN,NaN,NaN
3,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex BLACK LARGE PU LE...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","635,761inClothing,ShoesJewelry(",5 star,0204444403,$65.99,NaN,NaN,NaN
4,"[Clothing, Shoes & Jewelry, Novelty & More, Cl...",[Brand New. Hat Centre Length: adult about 8c...,bettyhome Unisex Adult Winter Spring Thicken C...,bettyhome,"[Imported, Plush,Cotton, Polyester, Lovely for...","5,061,041inClothing,ShoesJewelry(",5 star5 star (0%),0206313535,$18.99,NaN,NaN,NaN

In [15]:
afr = load_data(DIR+'AMAZON_FASHION_5.json.gz',columns=['asin','overall','reviewText','style','vote','reviewerID'])
afr.head()

,asin,overall,reviewText,style,vote,reviewerID
0,B000K2PJ4K,5,Great product and price!,"{'Size:': ' Big Boys', 'Color:': ' Blue/Orange'}",NaN,ALJ66O1Y6SLHA
1,B000K2PJ4K,5,Great product and price!,"{'Size:': ' Big Boys', 'Color:': ' Black (3746...",NaN,ALJ66O1Y6SLHA
2,B000K2PJ4K,5,Great product and price!,"{'Size:': ' Big Boys', 'Color:': ' Blue/Gray L...",NaN,ALJ66O1Y6SLHA
3,B000K2PJ4K,5,Great product and price!,"{'Size:': ' Big Boys', 'Color:': ' Blue (37867...",NaN,ALJ66O1Y6SLHA
4,B000K2PJ4K,5,Great product and price!,"{'Size:': ' Big Boys', 'Color:': ' Blue/Pink'}",NaN,ALJ66O1Y6SLHA

In [16]:
mod = load_data(DIR+'modcloth_final_data.json.gz')
mod.head()

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29.0,7,5.0,d,38.0,34.0,new,36.0,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31.0,13,3.0,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30.0,7,2.0,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN

In [19]:
rtr = load_data(DIR+'renttherunway_final_data.json.gz')
rtr

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28.0,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36.0,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10.0,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116.0,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34.0,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27.0,"September 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10.0,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42.0,"May 18, 2016"
192540,fit,118398,32c,682043,100lbs,10.0,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29.0,"September 30, 2016"
192541,fit,47002,36a,683251,135lbs,6.0,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31.0,"March 4, 2016"
192542,fit,961120,36c,126335,165lbs,10.0,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31.0,"November 25, 2015"
192543,fit,123612,36b,127865,155lbs,10.0,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30.0,"August 29, 2017"

In [22]:
#rtr review date to datetime
rtr['review_date'] = pd.to_datetime(rtr['review_date'])
rtr['review_date'].head()

0   2016-04-20
1   2013-06-18
2   2015-12-14
3   2014-02-12
4   2016-09-26
Name: review_date, dtype: datetime64[ns]

In [27]:
#rtr review data years value counts
rtr['review_date'].dt.year.value_counts()

review_date
2017    67871
2016    51361
2015    30596
2014    28269
2013     9617
2012     3365
2018     1255
2011      209
2010        1
Name: count, dtype: int64

Could do extracting self perception and body image from reviews of clothing and then explore how changed over time and what else might be influencing it!

## PLaying with filtering and brands

In [ ]:
brands = pd.read_csv(DIR+'brands.txt', header=None, sep=',')
brands = brands.stack().reset_index(drop=True).to_frame()
brands.columns = ['brand']
brands

In [ ]:
amazon_csj_meta = amazon_csj_meta[amazon_csj_meta['brand'].isin(brands['brand'])]
amazon_csj_meta