In [190]:
# UPDATE TO MATCH PERSONAL DIRECTORY STRUCTURE
DIR = 'C:\\Users\\jesse\\Documents\\GitHub\\vanity_sizing_project\\data\\'

In [191]:
import pandas as pd
import pickle

In [192]:
with open(DIR+'rtr_reviews_uncleaned.pkl', 'rb') as f:
    data = pickle.load(f)

customers = data[['user_id', 'weight', 'body type', 'height', 'size', 'age','band_size', 'cup_size']]

customers = customers.drop_duplicates(subset='user_id')

customers_complete = customers.dropna()

In [196]:
customers_complete

,user_id,weight,body type,height,size,age,band_size,cup_size
0,420272,137.0,hourglass,68,14,28,34,d
1,273551,132.0,straight & narrow,66,12,36,34,b
3,909926,135.0,pear,65,8,34,34,c
4,151944,145.0,athletic,69,12,27,34,b
5,734848,138.0,athletic,68,8,45,32,b
...,...,...,...,...,...,...,...,...
192339,597756,220.0,full bust,64,35,32,38,dd
192343,838239,150.0,hourglass,60,24,55,36,c
192347,442241,127.0,full bust,65,8,33,34,d
192353,961120,165.0,pear,66,16,31,36,c
192354,123612,155.0,athletic,66,16,30,36,b